

.dataTables_filter { float:right; }
.dataTables_info { float: left; }

      /* unvisited link */
      a:link {
        color: blue;
        text-decoration: underline;
      }

      /* visited link */
      a:visited {
        color: ;
      }

      /* mouse over link */
      a:hover {
        color: red;
      }

      /* selected link */
      a:active {
        color: blue;

      }


      #tdata, th {
        border-bottom: 0px solid #666666;
        border-top: 0px;
        border-right: 0px;
        border-left: 0px;

        border-collapse: collapse;
        padding-top:10px;
        padding-left:20px;
        color:black;
        font-family: Serif;
        font-size: 16px;
        font-weight: bold;
        text-align: left;
        background-color: #f6f6f6;
      }

      #tdata, td {

        border-top: 0px solid #666666;
        border-bottom: 1px solid #666666;
        border-left: 0px solid #666666;
        border-right: 0px solid #666666;
        border-collapse: collapse;
        vertical-align: bottom;
        height: 10px;
        margin-bottom:0px;
        padding-bottom: 0px:;
        padding-top:0px;
        padding-left:20px;
        color:black;
        font-family: Arial;
        font-size: 12px;
        font-weight: bold;
        text-align: left; 
        background-color: rgba(204, 255, 153, 0.2);

      }

      
      h3 {
        margin-top: 0px;
        padding-top:0px;
        margin-bottom: 0px;
        margin-right: 10px;
        margin-left: 0px;
        color: #9F5584;
        font-weight: normal;
        font-family: Arial ;
        font-size: 18px;
        text-align: center;

      }

      h4 {
        margin-top: 0px;
        padding-top:0px;
        margin-bottom: 0px;
        margin-right: 10px;
        margin-left: 0px;
        color: #f6f6f6;
        font-weight: normal;
        font-family: Robotto ;
        font-size: 18px;
        text-align: center;

      }


      h5 {
        margin-top: 0px;
        padding-top:0px;
        margin-bottom: 0px;
        margin-right: 0px;
        margin-left: 0px;
        color: #9F5584;
        font-weight: normal;
        font-family: Arial ;
        font-size: 15px;
        text-align: center;

      }

      h6 {
        margin-top: 0px;
        padding-top:0px;
        margin-bottom: 0px;
        margin-right: 10px;
        margin-left: 0px;
        color: #666666;
        font-weight: normal;
        font-family: Helvetica ;
        font-size: 14px;
        text-align: center;

      }


      input[type=text] {
        width: 100%;
        height: 30px;
        padding: 2px 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
        font-family: arial;
        font-size: 12px;
        resize: none;
      }

      textarea {
        width: 100%;  
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
        font-family: arial;
        font-size: 16px;
        resize: none;
      }

      .message {
        margin-top: 7px;
        font-family: arial;
        font-size: 12px; 
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
      }

      /*table tr td:nth-child(5):hover { background-color: #739cbf; cursor: pointer;}*/
      table tr td:nth-child(5) {font-family: FontAwesome; font-size: 18px; color: #fe7569; text-align: center;}



      .w3-black,.w3-hover-black:hover{color:#ccc!important;background-color:#000!important}
      .w3-hover-text-blue:hover{color:#66CCFF!important}
      .w3-dark-grey,.w3-hover-dark-grey:hover,.w3-dark-gray,.w3-hover-dark-gray:hover{color:#fff!important;background-color:#666666!important}






      <!-- Check for message requirements-->     
 
      
      .message.success { background-color: lightgreen; border: 1px solid #666666; color: #666666;}
      .message.error { background-color: red; border: 1px solid lightgrey; color: white; }
      
